:root {
  --yellow: #fccd35;
  --pink: #ff19e9;
  --green: #00cc00;
  --dark-blue: #002776;
  --dark-widow: #470740;
  --white: #ffffff;
  --light-grey: #b1b1b1;
  --dark-grey: #2b2b2b;
  --black: #000000;
}
